<<<<<<< HEAD
<h1>Welcome, </h1>

 
=======
<h1>Welcome,</h1>

  <ul>
  <% @tweets.each do |tweet| %>
    <li>
      <p><%= tweet.content %></p>
    </li>
    <% end %>
</ul>
>>>>>>> 1731f6a3db6cfd97619b4a903ec670855d2a9f9e
