<form method="post" action="/login">
  <input type="text" name="username" placeholder="Username:">
  <input type="password"  name="password" placeholder="Password:">
<<<<<<< HEAD
  <input type="submit" value="submit">
=======
  <input type="submit" value="Log In">
>>>>>>> 1731f6a3db6cfd97619b4a903ec670855d2a9f9e
</form>